body {
    font-family: Arial, sans-serif;
    background-color: #d4bcbc;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.converter-container {
    background-color: #adbd95;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 8px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4caf96;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #458ea0;
}

#result {
    font-weight: bold;
}